---
layout: default
---

<div class="floater">&nbsp;</div>
<div id="card">
  <h1>Matthew Beale</h1>
  <img src="/img/corner.png" width="72" height="72" class="corner-image" />
  <div id="contact-details" class="spinto-editable">
    <p>Delighted to meet you.</p>
    <br />
    <p><a href="mailto:matt.beale@madhatted.com">matt.beale@madhatted.com</a></p>
    <p><a href="http://madhatted.com">madhatted.com</a></p>
    <p><a href="http://www.spintoapp.com">spintoapp.com</a></p>
  </div>
  <div id="icons_wrapper">
    <div id="icons">
      {% if site.settings.facebook_url.value %}
        <a class="icon" href="{{site.settings.facebook_url.value}}">
          <img src="/img/FaceBook.png" width="16" height="16" />
        </a>
      {% endif %}
      {% if site.settings.github_url.value %}
        <a class="icon" href="{{site.settings.github_url.value}}">
          <img src="/img/GitHub.png" width="16" height="16" />
        </a>
      {% endif %}
      {% if site.settings.google_plus_url.value %}
        <a class="icon" href="{{site.settings.google_plus_url.value}}">
          <img src="/img/Google_plus.png" width="16" height="16" />
        </a>
      {% endif %}
      {% if site.settings.instagram_url.value %}
        <a class="icon" href="{{site.settings.instagram_url.value}}">
          <img src="/img/Instagram.png" width="16" height="16" />
        </a>
      {% endif %}
      {% if site.settings.linkedin_url.value %}
        <a class="icon" href="{{site.settings.linkedin_url.value}}">
          <img src="/img/LinkedIn.png" width="16" height="16" />
        </a>
      {% endif %}
      {% if site.settings.tumblr_url.value %}
        <a class="icon" href="{{site.settings.tumblr_url.value}}">
          <img src="/img/Tumblr.png" width="16" height="16" />
        </a>
      {% endif %}
      {% if site.settings.twitter_url.value %}
        <a class="icon" href="{{site.settings.twitter_url.value}}">
          <img src="/img/Twitter.png" width="16" height="16" />
        </a>
      {% endif %}
      {% if site.settings.youtube_url.value %}
        <a class="icon" href="{{site.settings.youtube_url.value}}">
          <img src="/img/Youtube.png" width="16" height="16" />
        </a>
      {% endif %}
    </div>
  </div>
</div>
